@media screen and (min-width: 600px) {
  .about__box--achieve {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5rem;
    gap: 2rem;
    text-align: center;
  }
  .about__box--title > h3 {
    text-transform: uppercase;
    font-size: 1.7rem;
  }
  .about__box--title > h2 {
    color: white;
    font-size: 6.5rem;
  }
  .about__box--description {
    font-size:2.0rem;
    line-height: 1.6;
    text-align: center;
  }
  .about__items--achieve {
    border: 0rem solid #ffffff6b;   
  }
  .about__items--achieve:nth-child(odd) {
    border-right: 0.1rem solid #ffffff6b;
  }
}
